LATA.MTC.PublicSite/FSP MTC Web Application/MTC.FSP.Web/Service References/TowTruckServiceRef/TowTruckService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FPSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FPSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.213:9017/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://38.124.164.213:9017/TowTruckService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTowTruckData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TowTruckData" nillable="true" type="tns:TowTruckData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTowTruckData" nillable="true" type="tns:ArrayOfTowTruckData" />
  <xs:complexType name="TowTruckData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarms" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBackup" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastMessage" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TowTruckData" nillable="true" type="tns:TowTruckData" />
  <xs:complexType name="CopyTruck">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatID" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="tns:CopyDriver" />
      <xs:element minOccurs="0" name="Extended" nillable="true" type="tns:CopyExtended" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:CopyStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyTruck" nillable="true" type="tns:CopyTruck" />
  <xs:complexType name="CopyDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedBeat" type="ser:guid" />
      <xs:element minOccurs="0" name="BeatScheduleID" type="ser:guid" />
      <xs:element minOccurs="0" name="BreakStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="FSPID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LunchStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TowTruckCompany" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyDriver" nillable="true" type="tns:CopyDriver" />
  <xs:complexType name="CopyExtended">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAW" type="xs:int" />
      <xs:element minOccurs="0" name="FleetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FleetVehicleID" type="ser:guid" />
      <xs:element minOccurs="0" name="FuelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GVW" type="xs:int" />
      <xs:element minOccurs="0" name="GVWR" type="xs:int" />
      <xs:element minOccurs="0" name="InsuranceExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastCHPInspection" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicensePlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXTW" type="xs:int" />
      <xs:element minOccurs="0" name="MAXTWCALCDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Overhang" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProgramStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RAW" type="xs:int" />
      <xs:element minOccurs="0" name="RAWR" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationExpireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleYear" type="xs:int" />
      <xs:element minOccurs="0" name="Wheelbase" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyExtended" nillable="true" type="tns:CopyExtended" />
  <xs:complexType name="CopyStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="GPSIssueAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPSIssueAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPSIssueAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOffAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOffAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOffAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogOnAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOnAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogOnAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnPatrolAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnPatrolAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollInAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollInAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollOutAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollOutAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollOutAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" type="xs:double" />
      <xs:element minOccurs="0" name="StationaryAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationaryAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationaryAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CopyStatus" nillable="true" type="tns:CopyStatus" />
  <xs:complexType name="ArrayOfCopyTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CopyTruck" nillable="true" type="tns:CopyTruck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCopyTruck" nillable="true" type="tns:ArrayOfCopyTruck" />
  <xs:complexType name="MTCPreAssistData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHPIncidentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHPLogNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="DriverLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSPLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Freeway" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentSurveyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LaneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="LocationofInitialDispatch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTCPreAssistData" nillable="true" type="tns:MTCPreAssistData" />
  <xs:complexType name="ArrayOfMTCIncidentScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MTCIncidentScreenData" nillable="true" type="tns:MTCIncidentScreenData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMTCIncidentScreenData" nillable="true" type="tns:ArrayOfMTCIncidentScreenData" />
  <xs:complexType name="MTCIncidentScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DispatchSummaryMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsIncidentComplete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPosted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAcked" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTCIncidentScreenData" nillable="true" type="tns:MTCIncidentScreenData" />
  <xs:complexType name="ArrayOfAssistTruck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssistTruck" nillable="true" type="tns:AssistTruck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssistTruck" nillable="true" type="tns:ArrayOfAssistTruck" />
  <xs:complexType name="AssistTruck">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorID" type="ser:guid" />
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckID" type="ser:guid" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssistTruck" nillable="true" type="tns:AssistTruck" />
  <xs:complexType name="ArrayOfListDrivers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListDrivers" nillable="true" type="tns:ListDrivers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListDrivers" nillable="true" type="tns:ArrayOfListDrivers" />
  <xs:complexType name="ListDrivers">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverID" type="ser:guid" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckID" type="ser:guid" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListDrivers" nillable="true" type="tns:ListDrivers" />
  <xs:complexType name="ArrayOfAlarmStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmStatus" nillable="true" type="tns:ArrayOfAlarmStatus" />
  <xs:complexType name="AlarmStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPSIssueAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPSIssueAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPSIssueAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="GPSIssueAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GPSIssueDuration" type="xs:int" />
      <xs:element minOccurs="0" name="HasAlarms" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncidentAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="IncidentAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncidentDuration" type="xs:int" />
      <xs:element minOccurs="0" name="LongBreakAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LongBreakAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LongBreakAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongBreakAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LongBreakAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="LongBreakAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LongBreakDuration" type="xs:int" />
      <xs:element minOccurs="0" name="LongLunchAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="LongLunchAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LongLunchAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongLunchAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LongLunchAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="LongLunchAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LongLunchDuration" type="xs:int" />
      <xs:element minOccurs="0" name="OnPatrolAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OnPatrolAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnPatrolAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="OnPatrolAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnPatrolDuration" type="xs:int" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutOfBoundsAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="OutOfBoundsCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsDuration" type="xs:int" />
      <xs:element minOccurs="0" name="OutOfBoundsExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutOfBoundsStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OutOfBoundsTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OvertimeAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="OvertimeAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OvertimeAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OvertimeAlarmDuration" type="xs:int" />
      <xs:element minOccurs="0" name="OvertimeAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OvertimeAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="OvertimeAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="RollInAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RollInAlarmDuration" type="xs:int" />
      <xs:element minOccurs="0" name="RollInAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RollInAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="RollInAlarmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpeedingAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="SpeedingDuration" type="xs:int" />
      <xs:element minOccurs="0" name="SpeedingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SpeedingValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationaryAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationaryAlarmCleared" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationaryAlarmDuration" type="xs:int" />
      <xs:element minOccurs="0" name="StationaryAlarmExcused" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationaryAlarmID" type="ser:guid" />
      <xs:element minOccurs="0" name="StationaryAlarmStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusStarted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmStatus" nillable="true" type="tns:AlarmStatus" />
  <xs:complexType name="TruckMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acked" type="xs:boolean" />
      <xs:element minOccurs="0" name="AckedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Beat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" type="ser:guid" />
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="xs:int" />
      <xs:element minOccurs="0" name="SentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WazeSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WazeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WazeUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
      <xs:element minOccurs="0" name="streetInformation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruckMessage" nillable="true" type="tns:TruckMessage" />
  <xs:complexType name="ArrayOfbeatData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beatData" nillable="true" type="tns:beatData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbeatData" nillable="true" type="tns:ArrayOfbeatData" />
  <xs:complexType name="beatData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackupTruckCount" type="xs:int" />
      <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScheduleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TruckCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beatData" nillable="true" type="tns:beatData" />
  <xs:complexType name="ArrayOfRunStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RunStatus" nillable="true" type="tns:RunStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunStatus" nillable="true" type="tns:ArrayOfRunStatus" />
  <xs:complexType name="RunStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alert" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Heading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="StatusChange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunStatus" nillable="true" type="tns:RunStatus" />
  <xs:complexType name="ArrayOfTruckMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TruckMessage" nillable="true" type="tns:TruckMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTruckMessage" nillable="true" type="tns:ArrayOfTruckMessage" />
  <xs:complexType name="ArrayOfbeatInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beatInformation" nillable="true" type="tns:beatInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbeatInformation" nillable="true" type="tns:ArrayOfbeatInformation" />
  <xs:complexType name="beatInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserModified" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="beatSegmentList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beatInformation" nillable="true" type="tns:beatInformation" />
  <xs:complexType name="ArrayOfbeatSegmentPolygonData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beatSegmentPolygonData" nillable="true" type="tns:beatSegmentPolygonData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbeatSegmentPolygonData" nillable="true" type="tns:ArrayOfbeatSegmentPolygonData" />
  <xs:complexType name="beatSegmentPolygonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="geoFence" nillable="true" type="tns:ArrayOflatLon" />
      <xs:element minOccurs="0" name="maxLat" type="xs:double" />
      <xs:element minOccurs="0" name="maxLon" type="xs:double" />
      <xs:element minOccurs="0" name="minLat" type="xs:double" />
      <xs:element minOccurs="0" name="minLon" type="xs:double" />
      <xs:element minOccurs="0" name="segmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segmentID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="beatSegmentPolygonData" nillable="true" type="tns:beatSegmentPolygonData" />
  <xs:complexType name="ArrayOflatLon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="latLon" nillable="true" type="tns:latLon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflatLon" nillable="true" type="tns:ArrayOflatLon" />
  <xs:complexType name="latLon">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="latLon" nillable="true" type="tns:latLon" />
  <xs:complexType name="ArrayOfyardPolygonData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="yardPolygonData" nillable="true" type="tns:yardPolygonData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfyardPolygonData" nillable="true" type="tns:ArrayOfyardPolygonData" />
  <xs:complexType name="yardPolygonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contractor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="geoFence" nillable="true" type="tns:ArrayOflatLon" />
      <xs:element minOccurs="0" name="maxLat" type="xs:double" />
      <xs:element minOccurs="0" name="maxLon" type="xs:double" />
      <xs:element minOccurs="0" name="minLat" type="xs:double" />
      <xs:element minOccurs="0" name="minLon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="yardPolygonData" nillable="true" type="tns:yardPolygonData" />
  <xs:complexType name="ArrayOfdropSitePolygonData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dropSitePolygonData" nillable="true" type="tns:dropSitePolygonData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdropSitePolygonData" nillable="true" type="tns:ArrayOfdropSitePolygonData" />
  <xs:complexType name="dropSitePolygonData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="beatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dropSiteDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dropSiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="geoFence" nillable="true" type="tns:ArrayOflatLon" />
      <xs:element minOccurs="0" name="maxLat" type="xs:double" />
      <xs:element minOccurs="0" name="maxLon" type="xs:double" />
      <xs:element minOccurs="0" name="minLat" type="xs:double" />
      <xs:element minOccurs="0" name="minLon" type="xs:double" />
      <xs:element minOccurs="0" name="userCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userModified" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dropSitePolygonData" nillable="true" type="tns:dropSitePolygonData" />
  <xs:complexType name="ArrayOfesriCB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="esriCB" nillable="true" type="tns:esriCB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfesriCB" nillable="true" type="tns:ArrayOfesriCB" />
  <xs:complexType name="esriCB">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallBoxID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallBoxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Lat" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="esriCB" nillable="true" type="tns:esriCB" />
</xs:schema>