LATA.MTC.PublicSite/FSP MTC Web Application/MTC.FSP.Web/Service References/TowTruckServiceRef/TowTruckService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://38.124.164.213:9017/TowTruckService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FPSService" />
  <xs:import schemaLocation="http://38.124.164.213:9017/TowTruckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="reloadBeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadBeatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadBeatSegments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadBeatSegmentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadYards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadYardsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadDrops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="reloadDropsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="CurrentTrucksResult" nillable="true" type="q1:ArrayOfTowTruckData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="varName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="varValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleTruckDump">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="t" nillable="true" type="q2:CopyTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleTruckDumpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnexcuseAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_beatNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_driverName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnexcuseAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findSeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findSegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findSegResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findBeatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruckDump">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="trucks" nillable="true" type="q3:ArrayOfCopyTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruckDumpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_alertID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuseAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_excuser" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_alertID" type="q5:guid" />
        <xs:element minOccurs="0" name="_comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuseAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addAssist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="data" nillable="true" type="q6:MTCPreAssistData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAssistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIncidents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAllIncidentsResult" nillable="true" type="q7:ArrayOfMTCIncidentScreenData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistTrucks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssistTrucksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAssistTrucksResult" nillable="true" type="q8:ArrayOfAssistTruck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedBreakTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DriverID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsedBreakTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsedBreakTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTruckDrivers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTruckDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetTruckDriversResult" nillable="true" type="q9:ArrayOfListDrivers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffDriver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DriverID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffDriverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q11:ArrayOfAlarmStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmByTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmByTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="AlarmByTruckResult" nillable="true" type="q12:ArrayOfAlarmStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="thisMessage" nillable="true" type="q13:TruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_vehicleNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_alarm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeatData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeatDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetBeatDataResult" nillable="true" type="q14:ArrayOfbeatData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeatDataByBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeatNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeatDataByBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="GetBeatDataByBeatResult" nillable="true" type="q15:ArrayOfbeatData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTruckRunStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="truckNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTruckRunStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getTruckRunStatusResult" nillable="true" type="q16:ArrayOfRunStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebootTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebootTruckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="truckNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTruckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBeatSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBeatSegmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCallBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCallBoxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDropSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDropSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteYard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteYardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setActiveBeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beats" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setActiveBeatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActiveBeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActiveBeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getActiveBeatsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesBySender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesBySenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getMessagesBySenderResult" nillable="true" type="q22:ArrayOfTruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getAllMessagesResult" nillable="true" type="q23:ArrayOfTruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesByDriverID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="driverID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesByDriverIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getMessagesByDriverIDResult" nillable="true" type="q24:ArrayOfTruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesByCallSign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallSign" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesByCallSignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getMessagesByCallSignResult" nillable="true" type="q25:ArrayOfTruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesByBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beatNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessagesByBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getMessagesByBeatResult" nillable="true" type="q26:ArrayOfTruckMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getAllBeatsResult" nillable="true" type="q27:ArrayOfbeatInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeatByBeatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BeatID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeatByBeatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getBeatByBeatIDResult" nillable="true" type="q28:beatInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSegmentPolygons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSegmentPolygonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getAllSegmentPolygonsResult" nillable="true" type="q29:ArrayOfbeatSegmentPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSegmentPolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SegmentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSegmentPolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getSegmentPolygonResult" nillable="true" type="q30:beatSegmentPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSegmentPolygonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSegmentPolygonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getSegmentPolygonByIdResult" nillable="true" type="q32:beatSegmentPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllYards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllYardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getAllYardsResult" nillable="true" type="q33:ArrayOfyardPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getYardPolygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YardID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getYardPolygonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getYardPolygonResult" nillable="true" type="q34:yardPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDropSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDropSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getAllDropSitesResult" nillable="true" type="q35:ArrayOfdropSitePolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDropSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DropSiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDropSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getDropSiteResult" nillable="true" type="q36:dropSitePolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCallBoxes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCallBoxesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getAllCallBoxesResult" nillable="true" type="q37:ArrayOfesriCB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCallBoxByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="callBoxID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCallBoxByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="getCallBoxByIDResult" nillable="true" type="q38:esriCB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBeatInfoData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="b" nillable="true" type="q39:beatInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBeatInfoDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBeatSegmentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="b" nillable="true" type="q40:beatSegmentPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBeatSegmentDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateYardData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="y" nillable="true" type="q41:yardPolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateYardDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDropSiteData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="d" nillable="true" type="q42:dropSitePolygonData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDropSiteDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCallBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/FPSService" minOccurs="0" name="c" nillable="true" type="q43:esriCB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCallBoxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setConfidence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setConfidenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getConfidence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConfidenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getConfidenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWAZE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="nThumbsUp" type="xs:int" />
        <xs:element minOccurs="0" name="confidence" type="xs:int" />
        <xs:element minOccurs="0" name="reliability" type="xs:int" />
        <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWAZEResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>